<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Boye_Mouhamed</title>
    <link rel="stylesheet" href="../Public/style2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
</head>
<body>
    <header>
    <nav class="navbar">
        <a href="../index.html" class="logo" id="">M.Boye</a>
        <div class="nav-links">
            <ul>
                <li  class="active"><a href="../index.html" style="color: rgb(26, 142, 155);"  >Acceuil</a></li>
                <li><a href="./portfolio.html">Portfolio</a></li>
                <li><a href="./cv.html" >CV</a></li>
                <li><a href="./hobbies.html" >Hobbies</a></li>
            </ul>
        </div>
        <img src="../Public/img/menu-btn.png" alt="Menu-button" class="menu-hamburger">
    </nav>
    </header> <br><br><br><br><br><br><br><br><br><br>

    <h1 class="h-title">Qu'es-ce que j'aime faire dans la vie ?</h1><br><br>

    <section>

        <div class="banniere">
            <div class="text">
                <h1> Découvrir le monde !</h1>
                <br>
                <p>Le monde est magnifique et ce serait vraiment dommage de ne pas en profiter, faire le tour du monde et découvrir tous les paysages
                    que la terre recéle, il n'y a trés clairement rien de plus beau pour les yeux. Raison pour laquelle j'apprécie de partir en balade ou en randonnées équipé d'un vélo à la recherche des meilleurs endroits pour admirer le paysage<br>
                    <br> Malheureusement j'ai tendace délaisser cette activité lorsque la vie m'impose son rythme de vie.
                    Mais il n'est jamais trop tard pour se ressourcer, avant de plonger l'esprit dans une activité plus réflexif.
                    <br> Je vous laisse admirer si vous le désirer, quelques photos prises lors de mes balades.
                </p>
                    

            </div>

            <div class="slideshow-container">
                <ul class="slides">
                  <li><img src="../Public/media/h2.jpg" ></li>
                  <li><img src="../Public/media/h3.jpg" ></li>
                  <li><img src="../Public/media/h4.jpg" ></li>
                  <li><img src="../Public/media/h5.jpg" ></li>
                  <li><img src="../Public/media/h6.jpg" ></li>
                  <li><img src="../Public/media/h7.jpg" ></li>
                </ul>
              </div>
              

        </div>



    </section><br><br><br>

    <section>
        <div class="banniere2">

            <div class="game">
                <video width="100%" height="100%" controls>
                    <source src="../Public/media/game.mp4" type="video/mp4">
                    Votre navigateur ne prend pas en charge la lecture de vidéos.
                  </video>
                  
               
              </div>


            <div class="text2">
                <h1> Le GAME MAKING</h1>
                <p> <br>Jouer aux jeux-vidéo c'est quelque chose, en créer s'en est une autre, tel est la leçon que j'ai appris lorsque j'ai décidé par curiosité de me lancer dans le monde du Gamemaking. Détenir le fil du scénario, inventer de nouveaux mécanismes de gameplay, construire une palette de personnage et de game design, il n'y rien de plus stimulant pour l'imagination que le gamemaking.
                    Cela constitue l'une des raisons pour lesquelles je me suis lancé dans l'informatique et que j'apprécie la programmation.
                    Ci-contre vous pouvez observer un mini-jeu du style space_invaders. <br>

                    J'utilisai le plus souvent rpg maker qui est logiciel trés développpé pour construire des rpg en utilisant une UI intuitive et plusieurs plugins programmables.
            </div>
        </div>
    </section><br><br><br>

    <section>
        <div class="banniere3">
            <div class="text3">
                <h1> ETC.</h1>
                <p>Il y'a beaucoup de chose encore que j'apprécie faire comme: <br>
                    Les jeux de stratégies et de réflexion  qui ont toujours été pour moi un trés bon moyen de passer le temps, les échecs, les jeux de carte
                    type yu-gi-oh, les batailles navales etc.., sont des moments que j'aime savourer entre deux lignes de bus ou durant une salle d'attente. <br><br>


                    Ou encore la science (physique, biologie, mathématiques). Ma relation avec la science a toujours été une relation très compliquée, du fait de la complexité de cette dernière. Mais au fil des ans, j'ai fini par comprendre qu'aussi complexe qu'elle soit, elle finit par nous apprendre tout un tas de choses tous plus étonnantes les unes que les autres
, même si elle lui arrive parfois qu'elle dérive dans des exubérances au caractére douteux elle n'en reste pas moins très plaisante à suivre.
                </p>
            </div>


            <div class="strat">
                <img src="../Public/img/strat.jpg" width="60%" height="50%" style="border-radius: 20px;"  > 
             
            </div>
        </div>
    </section><br><br>
    
    <footer>
        <div class="footer">

            <div class="social">
                <h3 class="text-foot">My Networks:</h3>
                <a href="https://fr.quora.com/profile/Volume-Canelle" style="text-decoration: none; color:aqua">
                <img src="../Public/img/quora.png" alt="" width="50px" height="50px"> Quora <br></a>

                <a href="https://github.com/Blow07?tab=repositories" style="text-decoration: none; color:aqua">
                <img src="../Public/img/git.png" alt="" width="50px" height="50px"> Github <br></a>

                <a href="https://www.linkedin.com/in/mouhamed-boye-00760528b/" style="text-decoration: none; color:aqua">
                <img src="../Public/img/in.png" alt="" width="50px" height="50px"> Linkedin  <br></a>


            </div>

            <div class="contact">
                <h3 class="text-foot">Contact:</h3>
                <i class="fas fa-envelope" style="color: #007bff; font-size: 24px; margin-right: 10px;"></i> boyemouhamed43@gmail.com <br><br>
                <i class="fas fa-phone" style="color: #007bff; font-size: 24px; margin-right: 10px;"></i> 06-65-31-78-00 <br>




            </div>

            <div class="credit">
                <h3 class="text-foot">Credit:</h3> 
                Picture taked from freepik: <br>

                <a href="https://www.freepik.com/" style="text-decoration: none; color:aqua">
                <img src="../Public/img/fp.png" width="50px" height="50px" alt="" style="margin-left: 100px;"></a>

            </div>

        </div>

    </footer>
</body>
<script>
    const menuHamburger = document.querySelector(".menu-hamburger")
    const navLinks = document.querySelector(".nav-links")

    menuHamburger.addEventListener('click',()=>{
    navLinks.classList.toggle('mobile-menu')
    })


    let slideIndex = 0;
    showSlides();

    function showSlides() {
    const slides = document.querySelectorAll('.slides li');
    
    for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = 'none';
    }
    
    slideIndex++;
    
    if (slideIndex > slides.length) {
        slideIndex = 1;
    }
    
    slides[slideIndex - 1].style.display = 'block';
    setTimeout(showSlides, 5000); // Change d'../Public/media/h toutes les 2 secondes (ajustez la durée selon vos besoins)
    }



</script>
