<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Boye_Mouhamed</title>
    <link rel="stylesheet" href="../Public/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
</head>
<body class="back-2">
    <header>
    <nav class="navbar">
        <a href="../index.html" class="logo" id="">M.Boye</a>
        <div class="nav-links">
            <ul>
                <li  class="active"><a href="../index.html" style="color: rgb(26, 142, 155);" >Acceuil</a></li>
                <li><a href="./portfolio.html">Portfolio</a></li>
                <li><a href="./cv.html" >CV</a></li>
                <li><a href="./hobbies.html" >Hobbies</a></li>
            </ul>
        </div>
        <img src="../Public/img/menu-btn.png" alt="Menu-button" class="menu-hamburger">
    </nav>
    </header> <br><br><br><br><br><br><br><br><br><br>

    <section>
    <h1 class="port-title">Skills & personnal Projects:</h1><br><br>

    <div class="box">

        
        <div class="card">
            <a href="#net">
            <img src="../Public/img/pic4.jpg" alt="" class="img-card">
            <p class="text-card">Network Administration and Systems</p>
        </div></a>

        <div class="card">
            <a href="#prog">
            <img src="../Public/img/code.png" alt="" class="img-card">
            <p class="text-card">Development Skills</p>
            </a>   
        </div>

        <div class="card">
            <a href="#cyb">
            <img src="../Public/img/pic5.jpg" alt="" class="img-card">
            <p class="text-card">Cybersecurity </p>
            </a>
        </div>

      
    </div><br><br><br></section>

    <section>

    <h1 style="color: aliceblue; text-align:center; font-size:xx-large" id="net" >Networks And System:</h1><br><br>
    <div class="skills">

        <div class="text-network-skills">
           <p> A good networking project: <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
            Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
            Id ratione libero, eligendi deleniti dolores recusandae quasi aliquam odio voluptates laborum cum enim, suscipit exercitationem. Minus sunt corporis tenetur debitis deserunt officiis incidunt velit. A sapiente asperiores vel at.
            </p>


        </div>

        <div class="video-network">
            <video width="100%" height="100%" controls>
                <source src="../Public/media/net.mp4" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
              </video>
              

        </div>

        <div class="text-network-services">
            <p> A good networking project: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
                Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
                Id ratione libero, eligendi deleniti dolores recusandae quasi aliquam odio voluptates laborum cum enim, suscipit exercitationem. Minus sunt corporis tenetur debitis deserunt officiis incidunt velit. A sapiente asperiores vel at.
                </p>
    

        </div>

        <div class="netpic1">

        </div>

        <div class="netpic2">


        </div>

    </div><br><br><br><br>
    </section>

    <section>
    <h1 style="color: aliceblue; text-align:center;  font-size:xx-large" id="prog">Development:</h1><br><br>

    <div class="skills-p">

        <div class="video-cal">
            <video width="100%" height="100%" controls>
                <source src="../Public/media/cal.mp4" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
              </video>
              

        </div>

        <div class="text-prog-skills">
            <p> Everything is code: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
                Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
                Id ratione libero, eligendi deleniti dolores recusandae quasi aliquam odio voluptates laborum cum enim, suscipit exercitationem. Minus sunt corporis tenetur debitis deserunt officiis incidunt velit. A sapiente asperiores vel at.
                </p>


        </div>


        <div class="prog1">
            <img src="../Public/img/dock.jpg" alt="" width="40%" height="50%" style="border-radius: 200px" >
            <p style="width: 80%; margin-left: 7vw;text-align:start"> Everything is code: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
                Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
                Id ratione libero, eligendi deleniti dolores recusandae quasi aliquam odio voluptates laborum cum enim, suscipit exercitationem. Minus sunt corporis tenetur debitis deserunt officiis incidunt velit. A sapiente asperiores vel at.
                </p>
        </div>

        <div class="prog2">
            <img src="../Public/img/web.jpg" alt="" width="40%" height="50%" style="border-radius: 200px" >
            <p style="width: 80%; margin-left: 7vw;text-align:start"> Everything is code: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
                Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
                Id ratione libero, eligendi deleniti dolores recusandae quasi aliquam odio voluptates laborum cum enim, suscipit exercitationem. Minus sunt corporis tenetur debitis deserunt officiis incidunt velit. A sapiente asperiores vel at.
                </p>
            

        </div>

      
    </div><br><br><br>
    </section>

    <section>
    <h1 style="color: aliceblue; text-align:center; font-size:xx-large" id="cyb">Cybersecurity</h1><br><br>

    <div class="skills-c">

        <div class="kali">
            <img src="../Public/img/kali.webp" alt="" width="100%" height="100%">

        </div>

        <div class="text-kali">
            <p style="width: 80%; margin-left: 1vw;text-align:start"> Everything is code: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
                Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
                Id ratione libero, eligendi deleniti dolores recusandae quasi aliquam odio voluptates laborum cum enim, suscipit exercitationem. Minus sunt corporis tenetur debitis deserunt officiis incidunt velit. A sapiente asperiores vel at.
                </p>


        </div>

        <div class="c1">
            <video width="100%" height="60%" controls>
                <source src="../Public/media/c1.mp4" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
            </video>
            <p style="width: 80%; margin-left: 1vw;text-align:start;color:aliceblue"> Everything is code: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
                Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
                Id ratione libero, eligendi deleniti
                </p>

        </div>

        <div class="c2">
            <video width="100%" height="60%" controls>
                <source src="../Public/media/c2.mp4" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
            </video>
            <p style="width: 80%; margin-left: 1vw;text-align:start;color:aliceblue"> Everything is code: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt commodi aperiam rem tempore. Rerum pariatur asperiores neque culpa, quidem quae reprehenderit dolores recusandae esse fugit quasi consequatur et odit?
                Aperiam molestias quos officia esse nostrum ducimus labore exercitationem tenetur saepe doloremque vero adipisci necessitatibus minima accusantium, consequuntur distinctio, reprehenderit maxime earum! Excepturi aliquid laboriosam natus itaque, tempore labore veritatis?
                Id ratione libero, eligendi deleniti
                </p>

        </div>


    </div>
    </section><br><br><br>
    <footer>
        <div class="footer">

            <div class="social">
                <h3 class="text-foot">My Networks:</h3>
                <a href="https://fr.quora.com/profile/Volume-Canelle" style="text-decoration: none; color:aqua">
                <img src="../Public/img/quora.png" alt="" width="50px" height="50px"> Quora <br></a>

                <a href="https://github.com/Blow07?tab=repositories" style="text-decoration: none; color:aqua">
                <img src="../Public/img/git.png" alt="" width="50px" height="50px"> Github <br></a>

                <a href="https://www.linkedin.com/in/mouhamed-boye-00760528b/" style="text-decoration: none; color:aqua">
                <img src="../Public/img/in.png" alt="" width="50px" height="50px"> Linkedin  <br></a>


            </div>

            <div class="contact">
                <h3 class="text-foot">Contact:</h3>
                <i class="fas fa-envelope" style="color: #007bff; font-size: 24px; margin-right: 10px;"></i> boyemouhamed43@gmail.com <br><br>
                <i class="fas fa-phone" style="color: #007bff; font-size: 24px; margin-right: 10px;"></i> 06-65-31-78-00 <br>




            </div>

            <div class="credit">
                <h3 class="text-foot">Credit:</h3> 
                Picture taked from freepik: <br>

                <a href="https://www.freepik.com/" style="text-decoration: none; color:aqua">
                <img src="../Public/img/fp.png" width="50px" height="50px" alt="" style="margin-left: 100px;"></a>

            </div>

        </div>

    </footer>
    
</body>
    

    <script>
        const menuHamburger = document.querySelector(".menu-hamburger")
        const navLinks = document.querySelector(".nav-links")
 
        menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
        })

    </script>
</html>